<a href="https://colab.research.google.com/github/Robwrt04/ENG_20242/blob/main/Atividade%201%5Catv_dicionario_tupla_10102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
frutas = ['maçã', 'pera','banana']
frutas.append('uva')
print(frutas)

In [ ]:
frutas = ('maçã', 'pera','banana')       #QUANDO A LISTA ESTÁ ENTRE (), ELA FICA FIXA E NÃO SE PODE MODIFICAR - TUFAS

print(frutas[2])

In [ ]:
dados = {'nome':'Robert', 'Idade': '20', 'País': 'Brasil'}     #QUANDO A LISTA ESTÁ ENTRE {}, ELE VIRA UM DICIONARIO
print(dados)

In [ ]:
pessoas = {
    'pessoa1' : {
        'nome' : 'Robert',
        'Idade' : '20',
        'nasc' : '18/02'
    },
    'pessoa2' : {
        'nome' : 'João',
        'Idade' : '32',
        'nasc' : '05/05'
    }
}

print(pessoas['pessoa1']['nome'],pessoas['pessoa1']['nasc'])

In [ ]:
nome3 = input('Digite um novo nome: ')
idade3 = input('Digite a idade: ')
nasc3 = input('Digite a data de nascimento: ')

pessoas = {
    'pessoa1' : {
        'nome' : 'Robert',
        'idade' : '20',
        'nasc' : '18/02'
    },
    'pessoa2' : {
        'nome' : 'João',
        'idade' : '32',
        'nasc' : '05/05'
    },
    'pessoa3' : {
        'nome' : nome3,
        'idade' : idade3,
        'nasc' : nasc3
    }
}


print(pessoas['pessoa1']['nome'],',',pessoas['pessoa1']['idade'],'anos',',',pessoas['pessoa1']['nasc'])
print(pessoas['pessoa2']['nome'],',',pessoas['pessoa2']['idade'],'anos',',',pessoas['pessoa2']['nasc'])
print(pessoas['pessoa3']['nome'],',',pessoas['pessoa3']['idade'],'anos',',',pessoas['pessoa3']['nasc'])

ATIVIDADE 10/10

In [ ]:
#!)
cidades = ('Vila Velha','Itu','Vitoria','SP','RJ')
print(cidades[2])

In [ ]:
#2)
num = (1, 2, 3, 1, 4, 1)
print(f'O número 1 aparece {num.count(1)} vezes')

In [ ]:
#3)
bicho = ('cachorro', 'gato', 'pássaro')
if 'gato' in bicho:
  print("Gato está em animais")
else:
  print("Gato não está em animais")

In [ ]:
#4)
meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio')
print(f'O mês de Abril está na posição: {meses.index("abril")}')

In [ ]:
#5)
lat = input("Digite um valor de Latitude: ")
longi = input("Digite um valor de Latitude: ")


coordenadas = (lat, longi)
for i in coordenadas:
  print(i)

In [ ]:
#6)
carros = {
    'Marca' : 'Fiat',
    'Modelo' : 'Uno com escada',
    'Ano' : '2014'
}
print(carros)

In [ ]:
#7)
carros = {
    'Marca' : 'Fiat',
    'Modelo' : 'Uno com escada',
    'Ano' : '2014'
}

carros['Cor'] = 'Branco'
print(carros)

In [ ]:
#8)
pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
pessoa.pop('idade')
print(pessoa)

In [ ]:
#9)
produto = {
    'nome' : 'biscoito',
    'preço' : 'R$ 4,99',
    'quantidade' : '1'
}

for i in produto:
  print(f'{i}: {produto[i]}')

In [ ]:
#10)
estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}
if 'curso' in estudante:
  print(f'A estudante está no curso de Biologia')