<a href="https://colab.research.google.com/github/Robwrt04/ENG_20242/blob/main/Atividade1/atv_conjunto_set_21102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
frutas = ['maçã', 'pera','banana']
frutas.append('uva')
print(frutas)

In [ ]:
frutas = ('maçã', 'pera','banana')       #QUANDO A LISTA ESTÁ ENTRE (), ELA FICA FIXA E NÃO SE PODE MODIFICAR - TUFAS

print(frutas[2])

In [ ]:
dados = {'nome':'Robert', 'Idade': '20', 'País': 'Brasil'}     #QUANDO A LISTA ESTÁ ENTRE {}, ELE VIRA UM DICIONARIO
print(dados)

In [ ]:
pessoas = {
    'pessoa1' : {
        'nome' : 'Robert',
        'Idade' : '20',
        'nasc' : '18/02'
    },
    'pessoa2' : {
        'nome' : 'João',
        'Idade' : '32',
        'nasc' : '05/05'
    }
}

print(pessoas['pessoa1']['nome'],pessoas['pessoa1']['nasc'])

In [ ]:
nome3 = input('Digite um novo nome: ')
idade3 = input('Digite a idade: ')
nasc3 = input('Digite a data de nascimento: ')

pessoas = {
    'pessoa1' : {
        'nome' : 'Robert',
        'idade' : '20',
        'nasc' : '18/02'
    },
    'pessoa2' : {
        'nome' : 'João',
        'idade' : '32',
        'nasc' : '05/05'
    },
    'pessoa3' : {
        'nome' : nome3,
        'idade' : idade3,
        'nasc' : nasc3
    }
}


print(pessoas['pessoa1']['nome'],',',pessoas['pessoa1']['idade'],'anos',',',pessoas['pessoa1']['nasc'])
print(pessoas['pessoa2']['nome'],',',pessoas['pessoa2']['idade'],'anos',',',pessoas['pessoa2']['nasc'])
print(pessoas['pessoa3']['nome'],',',pessoas['pessoa3']['idade'],'anos',',',pessoas['pessoa3']['nasc'])

ATIVIDADE 10/10

In [ ]:
#!)
cidades = ('Vila Velha','Itu','Vitoria','SP','RJ')
print(cidades[2])

In [ ]:
#2)
num = (1, 2, 3, 1, 4, 1)
print(f'O número 1 aparece {num.count(1)} vezes')

In [ ]:
#3)
bicho = ('cachorro', 'gato', 'pássaro')
if 'gato' in bicho:
  print("Gato está em animais")
else:
  print("Gato não está em animais")

In [ ]:
#4)
meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio')
print(f'O mês de Abril está na posição: {meses.index("abril")}')

In [ ]:
#5)
lat = input("Digite um valor de Latitude: ")
longi = input("Digite um valor de Latitude: ")


coordenadas = (lat, longi)
for i in coordenadas:
  print(i)

In [ ]:
#6)
carros = {
    'Marca' : 'Fiat',
    'Modelo' : 'Uno com escada',
    'Ano' : '2014'
}
print(carros)

In [ ]:
#7)
carros = {
    'Marca' : 'Fiat',
    'Modelo' : 'Uno com escada',
    'Ano' : '2014'
}

carros['Cor'] = 'Branco'
print(carros)

In [ ]:
#8)
pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
pessoa.pop('idade')
print(pessoa)

In [ ]:
#9)
produto = {
    'nome' : 'biscoito',
    'preço' : 'R$ 4,99',
    'quantidade' : '1'
}

for i in produto:
  print(f'{i}: {produto[i]}')

In [ ]:
#10)
estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}
if 'curso' in estudante:
  print(f'A estudante está no curso de Biologia')

In [ ]:
def ler_afd(nome_arquivo):
    """Lê um arquivo AFD e retorna um dicionário com as informações do autômato.

    Args:
        nome_arquivo: O nome do arquivo AFD.

    Returns:
        Um dicionário com as informações do autômato.
    """

    afd = {}
    with open(nome_arquivo, 'r') as arquivo:
        for linha in arquivo:
            linha = linha.strip()
            if linha.startswith('estados'):
                afd['estados'] = linha.split(':')[1].split(',')
            elif linha.startswith('alfabeto'):
                afd['alfabeto'] = linha.split(':')[1].split(',')
            elif linha.startswith('inicial'):
                afd['inicial'] = linha.split(':')[1]
            elif linha.startswith('finais'):
                afd['finais'] = linha.split(':')[1].split(',')
            elif linha.startswith('transicoes'):
                transicoes = []
                for transicao in linha.split(':')[1].split(';'):
                    estado_atual, simbolo, proximo_estado = transicao.split(',')
                    transicoes.append(((estado_atual, simbolo), proximo_estado))
                afd['transicoes'] = transicoes

    return afd


# Exemplo de uso
nome_arquivo = 'afd.txt'  # Substitua pelo nome do seu arquivo AFD
afd = ler_afd(nome_arquivo)
print(afd)

21/10

In [ ]:
#1)
minha_conj = set()
frutas = {"maçã", "banana", "laranja", "uva"}
print(frutas)

In [22]:
#2a)
frutas.add("morangos")
print(frutas)

{'maçã', 'banana', 'morangos', 'laranja', 'uva'}

In [23]:
#2b)
frutas.add("maçã")
print(frutas)

{'maçã', 'banana', 'morangos', 'laranja', 'uva'}

In [24]:
#3)
if "banana" in frutas:
  frutas.remove("banana")
  print(frutas)
else:
  print("Não existe o termo 'banana'")

{'maçã', 'morangos', 'laranja', 'uva'}

In [ ]:
#Extra 3)
nova = input("Digite uma fruta a ser adicionada: ")
if nova in frutas:
  frutas.remove(nova)
  print(frutas)
else:
  print(f'Não existe o termo {nova}')

In [ ]:
#4)
if "laranja" in frutas:
  print("Laranja está em frutas")
else:
  print("laranja não está em frutas :(")

In [32]:
#5)
citrus = {"laranja", "limão", "tangerina"}
uniao = frutas.union(citrus)
print(uniao)

{'maçã', 'banana', 'tangerina', 'laranja', 'limão', 'uva'}

In [34]:
#6)
inter = frutas & citrus #frutas.intersection(citrus)
print(inter)

{'laranja'}

In [35]:
#7)
difer = frutas - citrus
print(difer)

{'maçã', 'banana', 'uva'}

In [ ]:
#8)