<a href="https://colab.research.google.com/github/Robwrt04/ENG_20242/blob/main/Atividade1/atv_Exerc%C3%ADcios_fixacao_24102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1)
lista = [1, 20, 3, 9, 6, 7]
for i in lista:
  print(f'{i} multiplicado por 2 é: {i*2}')

In [ ]:
#2)
lista = ["maçã", "banana", "laranja", "uva"]
ind = lista.index("banana")
lista.remove("banana")
lista.insert(ind, "melancia")
print(lista)

In [ ]:
#3)
lista = [2,20,80,9,33,24,54]
maior = max(lista, key=int)
menor = min(lista, key=int)
print(f'{lista}\nMaior número:\n{maior}\nMenor número:\n{menor}')

In [ ]:
#4)
palavras = ['espanhol', 'francês', 'brasileiro', 'uva']
qpalavras = []
for i in palavras:
  qpalavras.append(len(i))
print(qpalavras)

In [ ]:
#5)
lista = [2,6,3,4,1,5,9,8]
lista.sort(key=int)
print(lista)

In [ ]:
#6)
tupla = (1,2,3,4,5)
tupla.remove(2)
print(tupla)

In [ ]:
#7)
tupla = (1,3,5,8,3,2)
print(sum(tupla))

In [ ]:
#8)
tupla = (1,5,6,7,2)
print(f'primeiro: {tupla[0]}\nÚltimo: {tupla[-1]}')

In [ ]:
#9)
lista = ["a", "b", "c", "d"]
tupla = tuple(lista)
print(tupla)

In [ ]:
#10)
tupla = (1,5,3,'ui')
if 3 in tupla:
  print("3 está em tupla")
else:
  print("3 não está em tupla")

In [ ]:
#11)
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

uniao = set1 | set2
print(f'A união é: {uniao}')

inters = set1 & set2
print(f'A interseção é: {inters}')

difer = set1 - set2
print(f'A diferença é: {difer}')

In [ ]:
#12)
lista = [1, 2, 2, 3, 4, 4, 5]
setiz = set(lista)
print(setiz)

In [ ]:
#13)
setiz = {5, 10, 15, 20}
setiz.add(25)
print(setiz)
setiz.remove(15)
print(setiz)

In [ ]:
#14)
seti = {1, 2, 3, 4, 5}
if 7 in seti:
  print("Existe 7 no SET")
else:
  print("Não existe 7 no SET")

In [ ]:
#15)
import random
setiz = set()
for i in range (10):
  setiz.add(i)
print(setiz)

In [ ]:
#16)
dicio = {'Nome': 'Ana', 'Idade': 22, 'Curso': 'Engenharia'}
dicio['Universidade'] = 'USP'
print(dicio)

In [ ]:
#17)
dicion = {'nome': 'Maria', 'idade': 30, 'cidade': 'São Paulo'}
for chave, valor in dicion.items():
  print(f'Chave: {chave}, Valor: {valor}')

In [ ]:
#18)
alunos = {'Joao': [10,8,7,6], 'Maria': [7,8,7,9]}
for i in alunos:
  print(f'{i}: {sum(alunos[i])/len(alunos[i])}')

In [ ]:
#19)
dicio = {"nome": "Maria", "idade": 30, "cidade": "São Paulo"}
busca = input("Digite a chave que deseja buscar: ")

if busca in dicio:
  print(f'O valor {busca} é: {dicio[busca]}')
else:
  print(f'O valor {busca} não está no dicionario')

In [ ]:
#20)
itens = {'pão': 2.50, 'leite': 3.00, 'café': 4.50}
for i in itens:
  print(f'{i}: {itens[i]} R$')

alter = input("Qual quer alterar? ")
nvpreco = float(input("Novo preço: "))
itens[alter] = nvpreco
print(itens)